.blog-header {
    font-size: 40px;
    font-weight: 900;
    font-family: "Space Grotesk", "Raleway", sans-serif;
}
.blog-1 {
    text-indent: 3em;
    font-size: 16px;
    margin: 3px;
    font-weight: 600;
    font-family: "Space Grotesk", "Raleway", sans-serif;
}
.img-thumbnail {
    margin-top: 20px;
    border: solid var(--dark-green) 4px;
    box-shadow: 4px 4px 20px black;
}
.link {
    color: black;
    font-size: 18px;
    transition: ease-in-out .1s;
}
.link:hover {
    color: var(--white);
}