@import url('https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&family=Cabin+Condensed:wght@400;500;600;700&family=Lobster&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&display=swap');
/*font-family: "Space Grotesk", sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&family=Cabin+Condensed:wght@400;500;600;700&family=Lobster&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&display=swap');
/*font-family: "Raleway", sans-serif;*/

/*font-family: "Raleway", "space Grotesk", sans-serif;*/
/*font-family: "Space Grotesk", "Raleway", sans-serif;*/
:root {
    --white:       rgb(255, 255, 255);
    --whiteop:     rgba(255, 255, 255, 0.7);
    --light-grey:  rgb(218, 221, 226);
    --dark-grey:   rgb(177, 189, 197);
    --blue-grey:   rgb(136, 159, 165);
    --light-green: rgb(98, 130, 129);
    --dark-green:  rgb(75, 114, 102);
    --dark-greenop: rgb(67, 101, 90, 0.7);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(var(--dark-greenop), 
                                        var(--light-green), 
                                        var(--blue-grey), 
                                        var(--dark-grey), 
                                        var(--light-grey));
}
/*Header Section*/
#logo {
    font-size: 50px;
    font-weight: 900;
    font-family: "Space Grotesk", "Raleway", sans-serif;
    color: var(--whiteop);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color:black;
}
#navbar-links {
    font-size: 30px;
    font-family: "Raleway", "space Grotesk", sans-serif;
    color: var(--whiteop);
}
#navbar-links:hover {
    color: var(--white);
    text-shadow: 4px 4px 20px var(--dark-green);
}

/*Footer Section*/
#social-block {
    margin-top: 20px;
    background-image: radial-gradient(var(--blue-grey), var(--light-green));
    border-radius: 20px 20px 0 0;
}
.social-title {
    font-size: 50px;
    text-shadow: 4px 4px 15px var(--dark-green);
    color: var(--white);
    font-family: "Space Grotesk", "Raleway", sans-serif;
}
.fa-brands {
    font-size: 40px;
    margin: 20px;
    padding: 20px;
    background-image: radial-gradient(var(--blue-grey), var(--light-green));
    color: var(--white);
    border-radius: 30px 5px 30px 5px;
    box-shadow: 4px 4px 15px var(--blue-grey);
}
.footer-list {
    list-style-type: none;
    font-size: 30px;
    color: var(--whiteop);
    background-image: radial-gradient(var(--blue-grey), var(--light-green));
    border-radius: 20px;
    box-shadow: 4px 4px 15px var(--blue-grey);
    font-family: "Space Grotesk", "Raleway", sans-serif;
    transition: .2s;
}
.footer-list:hover {
    color: var(--white);
    box-shadow: 5px 5px 15px var(--blue-grey);
}
#contact-icon {
    font-size: 30px;
    margin: 40px;
    color: var(--white);
}
.contact {
    font-family: "Space Grotesk", "Raleway", sans-serif;
}
#contact-block {
    background-image: radial-gradient(var(--blue-grey), var(--light-green));
    border-radius: 30px 5px 30px 5px;
    color: var(--whiteop);
    box-shadow: 4px 4px 15px var(--blue-grey);
}